/* ==========================================================================
  advice product
  ========================================================================== */

.title-underline {
  padding-bottom: 20px;
  border-bottom: 1px solid #F2F2F2;
}
.paragrafe-style__cont {
  margin: 0px 10px;
}
.time-style {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #9FA3A7;
}
@media (max-width: 320px) {
  .time-style {
  margin: 10px 0px;
  }
}
.icon__counters {
  margin: 0px 15px;
}
.text-center--block-info-advice {
  text-align: left;
}
@media (max-width: 768px) {
  .text-center--block-info-advice {
  margin: 10px 0px;
  text-align: center;
  }
}
@media (max-width: 320px) {
  .text-center--block-info-advice {
  margin: 10px 0px;  
  text-align: center;
  }
  .icon__counters:first-child {
  margin: 0px 5px 0px 0px;
  }
}
.text-center--title-advice {
  text-align: center;
}
@media (max-width: 768px) {
  .text-center--title-advice {
  text-align: left;
  } 
}
@media (max-width: 320px) {
  .text-center--title-advice {
  text-align: left;
  } 
}
.block-style-advice {
  margin: 30px 0px;
}
@media (max-width: 768px) {
  .block-style-advice {
  margin: 20px 0px;
  }
}
.block-style-advice__text {
  width: 100%;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  padding: 36px 35px;
}
.block-style-advice__image {
  width: 100%;
  height: auto;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  margin: 0px;
  padding: 0px;
}
.block-style-advice__image img {
  padding: 2% 2% 1% 2%;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .block-style-advice__image {
  margin: 20px 0px;
  }
}
@media (max-width: 320px) {
  .paragrafe-selected {
  text-align: center;
  padding: 45px 15px;
  margin: 20px 0px;
  }
}
.comment__cont {
  margin: 8% 0% 4% 0%;
}
@media (max-width: 320px) {
  .comment__cont {
  margin: 8% 20% 4% 20%;
  }
}
.comment-title {
  display: inline-block;
  margin: 0px;
}
.comment-number {
  display: inline-block;
  background: #FFC80A;
  border-radius: 50%;
  width: 30px;
  padding: 6px 11px;
  margin: 0px 0px 0px 16px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
}
.comment-social {
  float: right;
  margin: 5% 0% 4% 0%;
}
@media (max-width: 320px) {
  .comment-social {
  float: none;
  text-align: center;
  }
}
