/* ==========================================================================
  advice product
  ========================================================================== */

.title-underline {
    padding-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;
}
.paragrafe-style__cont {
  margin: 0px 10px;
}
.paragrafe-style {
  line-height: 2;
}
.time-style {
  display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
  font-weight: normal;
	color: #9FA3A7;
}
@media (max-width: 320px) {
  .time-style {
  margin: 10px 0px;
  }
}
.icon__counters {
  margin: 0px 15px;
}
.text-center--block-info-advice {
  text-align: left;
}
@media (max-width: 768px) {
  .text-center--block-info-advice {
  margin: 10px 0px;
  text-align: center;
  }
}
@media (max-width: 320px) {
  .text-center--block-info-advice {
  margin: 10px 0px;  
  text-align: center;
  }
  .icon__counters:first-child {
  margin: 0px 5px 0px 0px;
  }
}
.text-center--title-advice {
  text-align: center;
}
@media (max-width: 768px) {
  .text-center--title-advice {
  text-align: left;
  } 
}
@media (max-width: 320px) {
  .text-center--title-advice {
  text-align: left;
  } 
}
/* BEGIN SLIDER
.slider-advice {
  position: relative;
  display: block;
  overflow: hidden;
  width: 840px;
  height: 500px;
  margin: 30px 0px 65px 0px;
  background: #eee;
}
@media (max-width: 768px) {
  .slider-advice {
  margin: 13px 0px 33px 0px;
  width: 500px;
  height: 280px;
  }
}
@media (max-width: 320px) {
  .slider-advice {
  margin: 13px 0px 33px 0px;
  width: 300px;
  height: 170px;
  }
}
.slider-advice__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in 0.1s;
}
.slider-advice__arrows {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}
.slider-advice__arrow {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.slider-advice__no-active {
  color: red;
}
.slider-advice__next {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.slider-advice__prew {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.slider-advice__number {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: #FFFFFF;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
}
/* END SLIDER */
/* BEGIN TABLE-CONTENT */
.table-content {
  counter-reset: li; /* Устанавливает идентификатор */
  list-style: none; /* Удаляем стандартную нумерацию */
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  padding: 0;
  margin-bottom: 4em;
  width: 100%;
}
.table-content__link {
  position: relative;
  display: block;
  padding: .4em .4em .4em 4em;
 
  margin: .5em 0;
  color: #4A4A4A;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;

  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 1.6;
  text-decoration: none;   
}
.table-content__link:hover {
  color: #9B9B9B;
}
.table-content__link:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: 0em;
  top: 50%;
  margin-top: -1.7em;
  background: #EDEDED;
  height: 3.5em;
  width: 3.5em;
  line-height: 3.5em;
  text-align: center;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  border-radius: 2em;
}
.table-content__item {
  padding: 12px 0px;
  border-bottom: 1px solid #F2F2F2;
}
@media (max-width: 768px) {
  .best-cont__display {
    display: none;
  }
}
.table-content__item--border {
	border-top: 1px solid #F2F2F2;
}
/* END TABLE-CONTENT */
/* BEGIN ARTICLE-LIST */
.article-list {
  counter-reset: li;
  list-style: none;
  width: 100%; 
  padding: 10px 0px;
  margin: 10px 0px;
}
.article-list__item {
  display: inline-block;
  width: 100%;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  padding: 35px 35px;
  margin: 7px 0px;
  border-bottom: 1px solid #F2F2F2;
}
@media (max-width: 768px) {
  .article-list__item {
  width: 100%;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  padding: 35px 35px;
  }
  .article-list {
  padding: 0px 0px;
}
}
.article-list__link {
  position: relative;
  display: block;
  
  padding: 0em 0em 0em 3em;
  margin: .5em 0;
  border-radius: .3em;
  transition: all .3s ease-out;
  font-family: Arvo, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.6;  
}
.article-list__link:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: 0em;
  top: 50%;
  margin-top: -1.7em;
  background: #FFC80A;
  box-shadow: 0 7px 7px rgba(0,0,0,.02);
  height: 3em;
  width: 3em;
  line-height: 3em;
  text-align: center;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  border-radius: 2em;
}
/* END ARTICLE-LIST */
/* BEGIN TABLE */
.table__cont {
  overflow-x: scroll;
}
.table {
	width: 100%;
  margin: 30px 0px 48px 0px;
  border-spacing: 0px 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
@media (max-width: 768px) {
  .table {
  margin: 20px 0px 26px 0px;
  }
}
.table__header {
  min-width: 200px;
	padding: 15px 0px;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
	text-align: left;
  border-top: 3px solid #EDEDED;
  border-bottom: 3px solid #EDEDED;
}
.table__col {
  min-width: 200px;
  padding: 20px 0px;
  border-bottom: 1px solid #EDEDED;
}
.table__decor {
	color: #8F76BC;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
}
@media screen and (max-width: 320px) {
  .table {
  margin: 30px 10px 48px 10px;
  }
}
/* END TABLE */
.block-style-advice {
  margin: 30px 0px;
}
@media (max-width: 768px) {
  .block-style-advice {
  margin: 20px 0px;
  }
}
.block-style-advice__text {
  width: 100%;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  padding: 36px 35px;
}
.block-style-advice__image {
  width: 100%;
  height: auto;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  margin: 0px;
  padding: 0px;
}
.block-style-advice__image img {
  padding: 2% 2% 1% 2%;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .block-style-advice__image {
  margin: 20px 0px;
  }
}
.paragrafe-selected {
  margin: 100px 0px;
  padding: 45px 90px;
  font-family: Arvo, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}
@media (max-width: 320px) {
  .paragrafe-selected {
  text-align: center;
  padding: 45px 15px;
  margin: 20px 0px;
  }
}
.attention {
  position: relative;
  display: inline-flex;
  width: 100%;
  margin-bottom: 20px;
  background: #F05638;
  border-radius: 4px;
}
.attention--middle {
  background: #FFC80A;
}
.attention__icon {
  position: relative;
  top: 0;
  left: 0;
  padding: 5% 5%;
  background: rgba(0,0,0,.2);
  border-radius: 4px 0 0 4px;
}
@media (max-width: 780px) {
  .attention__icon {
  padding: 7% 5%;
  }
}
@media (max-width: 320px) {
  .attention__icon {
  padding: 15% 5%;
  }
}
.attention__icon img {
  min-width: 18px;
  min-height: 18px;
}
.attention__text {
  color: #FFFFFF;
  padding: 3%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.comment__cont {
  margin: 8% 0% 4% 0%;
}
@media (max-width: 320px) {
  .comment__cont {
  margin: 8% 20% 4% 20%;
  }
}
.comment-title {
  display: inline-block;
  margin: 0px;
}
.comment-number {
  display: inline-block;
  background: #FFC80A;
  border-radius: 50%;
  width: 30px;
  padding: 6px 11px;
  margin: 0px 0px 0px 16px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
}
.comment-social {
  float: right;
  margin: 5% 0% 4% 0%;
}
@media (max-width: 320px) {
  .comment-social {
  float: none;
  text-align: center;
  }
}
