/* ==========================================================================
   Стили UI элементов
   ========================================================================== */

/* BEGIN BUTTON */
.button-main {
  display: block;
  width: 140px;
  height: 45px;
  margin: 0 auto;
  border-radius: 45px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  text-decoration: none;
  outline: none;
  background: #FFC80A;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.button-main:hover {
  background: #FFC80A;
  box-shadow: 0 15px 20px rgba(255,200,10,.4);
  color: white;
  transform: translateY(-7px);
}
/* END BUTTON */
/* BEGIN STYLE SLIDER BUTTON */
/* Active */
.slider-cart {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: 3px solid #FFC80A;
  transition: .3s;
}
.slider-cart:hover {
  box-shadow: 0 15px 20px rgba(255,200,10,.4);
  transform: translateY(-7px);
}
.slider-cart--left {
  background: url(../img/navigation/Arrow-left-black.svg) no-repeat 50% 50%;
}
.slider-cart--left:hover {
  background: #FFC80A url(../img/navigation/Arrow-left-white.svg) no-repeat 50% 50%;
}
.slider-cart--right {
  background: url(../img/navigation/Arrow-right-black.svg) no-repeat 50% 50%;
}
.slider-cart--right:hover {
  background: #FFC80A url(../img/navigation/Arrow-right-white.svg) no-repeat 50% 50%;
}
/* No Active */
.slider-cart--noactive-left {
    background: #EDEDED url(../img/navigation/Arrow-left-white.svg) no-repeat 50% 50%;
    border: #EDEDED;
}
.slider-cart--noactive-left:hover {
    box-shadow: none;
    transform: none;
}
.slider-cart--noactive-right {
    background: #EDEDED url(../img/navigation/Arrow-right-white.svg) no-repeat 50% 50%;
    border: #EDEDED;
}
.slider-cart--noactive-right:hover {
    box-shadow: none;
    transform: none;
}
.slider-cart--position-left {
    position: absolute;
    top: 50%;
    left: 0%;
}
.slider-cart--position-right {
    position: absolute;
    top: 50%;
    left: 0%;
}
/* Big */
.slider-cart--big {
    width: 68px;
    height: 68px;
}
/* END STYLE SLIDER BUTTON */
/* BEGIN ON/OFF FLIP-SWITCH */
.onoffswitch {
    position: relative; 
    width: 80px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch__checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: 
    margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 40px; 
    padding: 0; 
    color: white; 
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 10px; 
    line-height: 40px;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #FAFAFA; color: #000000;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FAFAFA; 
    color: #000000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 32px; 
    margin: 4px;
    background: #FFC80A;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 36px;
    border: 2px solid #FAFAFA; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch__checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch__checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #0EBAC5; 
}
/* END ON/OFF FLIP-SWITCH */
/* BEGIN PAGINATE */
.paginate {
  text-align: center;
  width: 100%;
}
.paginate--margin {
  margin-top: 30px;
  margin-bottom: 70px;
}
.paginate__block {
  position: relative;
  display: inline-block;
  width: 186px;
  margin: 0 auto;
  padding: 3px 0;
  list-style: none;
  text-align: center;
  background: #FAFAFA;
  border-radius: 30px;
}
.paginate__arrow {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0;
  padding: 5px 0;
  background: #FFC80A;
}
.paginate__arrow-left {
  position: absolute;
  top: 0;
  left: -45px;
}
.paginate__arrow-right {
  position: absolute;
  top: 0;
  right: -45px;
}
/* BEGIN PAGINATE-ARROW */
/* Active */
.paginate-arrow {
  display: block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: #FFC80A;
  border-radius: 50%;
  transition: .3s;
}
.paginate-arrow:hover {
  box-shadow: 0 7px 10px rgba(255,200,10,.4);
  transform: translateY(-7px);
}
.paginate-arrow--left {
    background: #FFC80A url(../img/navigation/Arrow-left-white.svg) no-repeat 50% 50%;
}
.paginate-arrow--right {
    background: #FFC80A url(../img/navigation/Arrow-right-white.svg) no-repeat 50% 50%;
}
/* No Active */
.paginate-arrow--disabled {
  background: #EDEDED;
}
.paginate-arrow--disabled:hover {
    box-shadow: none;
    transform: none;
}
/* END PAGINATE-ARROW */
.paginate__list {
  display: inline; 
}
.paginate__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 1px 2px;
  padding: 10px 10px;
  border-radius: 50%;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #000000;
  text-decoration: none;
  transition: all .3s ease-out;
}
.paginate__link:first-child, .paginate a.first {
  margin-left: 0; 
}
.paginate__link:last-child, .paginate a.last {
  margin-right: 0; 
}
.paginate__link:hover, .paginate a:focus {
  background-color: #EDEDED; 
}
.paginate__link.more {
  box-shadow: 0 0 0 0 transparent;
  border: 0 none;
  background: transparent;
  margin-left: 0;
  margin-right: 0; 
}
.paginate__link.active {
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
  border-color: #505050;
  color: #f2f2f2;
  background-color: #676767; 
}
.paginate__link--active {
  background: #FFC80A;
}
/* BEGIN SEO */
.title-line {
  margin-top: 50px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 3px solid #F2F2F2;
}
.text-seo {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 2;
  color: #9FA3A7;
}
/* END SEO */
/* BEGIN BREADCRUMBS */
.breadcrumbs {
    width: 100%;
    height: 40px;
    padding-left: 2.9%;
    background: #F3F3F3;
}
.breadcrumbs__cont {
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs__list {
    position: relative;
    float: left;
}
.breadcrumbs__link {
    display: inline-block;
    padding: 8px 0px 8px 0px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #4A4A4A;
    text-decoration: none;
    transition: .3s;
}
.breadcrumbs__link:hover {
    color: #FFC80A;
    text-decoration: underline; 
}
.breadcrumbs__line {
    margin: 0px 8px 0px 5px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #4A4A4A;
    text-decoration: none;
}
/* END BREADCRUMBS */