/* BEGIN OFFER BLOCK */
.offer-block {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 10px 35px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
            box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    background-color: #fff;
  }
  @media (min-width: 1280px) {
    .offer-block {
      max-width: 800px;
      padding-left: 160px;
      padding-right: 160px;
    }
  }
  .offer-block__title {
    text-align: center;
  }
  .offer-block__title > * {
    margin-top: 0;
  }
  .offer-block__content {
    padding-top: 10px;
  }
  /* END OFFER BLOCK */