/* ==========================================================================
  page rating
  ========================================================================== */
/* BEGIN SORTING */
.sorting-cont {
	float: right;
	border: 0 none;
}
.sorting-form {
	width: 150px;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
	border: none;
	background: #FFFFFF;
}
.select {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.select:after {
  content: "";
  padding: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  width: 6%;
  height: 100%;
  background: url(../img/navigation/Filtr.svg) no-repeat right #FFFFFF;
  pointer-events: none;
  box-sizing: border-box;
}
select {
  padding-right: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* END SORTING */
/* BEGIN MENU */
.menu-sorting {
	list-style: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
}
.menu-sorting--margin {
	margin: 0 0 20px 0;
}
.menu-sorting__item {
	border-bottom: 1px solid #F2F2F2;
	padding: 15px 0px 15px 24px;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #000000;
}
.menu-sorting__item:last-child {
	border-bottom: none;
}
.menu-sorting__item:hover {
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(255,200,10,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(255,200,10,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,200,10,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6ffc80a',GradientType=1 ); /* IE6-9 */
}
.menu-sorting__item:first-child:hover {
	background: none;
}
.menu-sorting__item-first {
	position: relative;
	padding: 25px 0px 24px 24px;
}
.menu-sorting__icon {
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/navigation/Filtr.svg);
}
.menu-sorting__item-link {
	padding: 9px 17px;
	border: 2px solid #FFC80A;
	border-radius: 20px;
}
.menu-sorting__link {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #000000;
	text-transform: uppercase;
	text-decoration: none;
}
/* END MENU */
.cont-catalog {
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 20px;
	width: 31.45%;
	min-height: auto;
	padding: 0;
}
@media (max-width: 768px) {
	.cont-catalog {
		width: 100%;
	}
}
.cont-catalog:nth-child(3n) {
	margin-right: 0%;
}
.cart-cont {
  margin-bottom: 20px;
}
/* !!!!!!!!! */
.cart-popular_main--catalog {
  max-width: 300px;
}
.cart-popular__text {
	margin-bottom: 33px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
}
/* BEGIN AD */
.advertising {
	display: block;
	width: 100%;
	height: 500px;
	padding: 80% 0;
	background: #eee;
	text-align: center;
	color: rgb(74,74,74,.2);
}
@media (max-width: 768px) {
	.advertising {
		display: none;
	}
}
/* END AD */
/* BEGIN THE BEST */
.best-cont {
	counter-reset: li; /* Устанавливает идентификатор */
  list-style: none; /* Удаляем стандартную нумерацию */
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  padding: 0;
  margin-bottom: 4em;
  width: 100%;
}
.best-cont a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 4em;
 
  margin: .5em 0;
  color: #4A4A4A;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.6;
  text-decoration: none;   
}
.best-cont a:hover {
	color: #9B9B9B;
}
.best-cont a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: 0em;
  top: 50%;
  margin-top: -1.7em;
  background: #EDEDED;
  height: 3.5em;
  width: 3.5em;
  line-height: 3.5em;
  text-align: center;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  border-radius: 2em;
}
.best-cont__item {
	padding: 12px 0px;
	border-bottom: 1px solid #F2F2F2;
}
.mark-info--position {
	text-align: left;
	padding: .1em .4em .4em 4.5em;
}
@media (max-width: 768px) {
	.best-cont {
		display: none;
	}
}
/* END THE BEST */