
/* BEGIN SPECIFICATION */
.specification__wrapper {
  margin: 0 10px;
}
@media (min-width: 768px) {
  .specification__wrapper {
    max-width: 508px;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .specification__wrapper {
    max-width: 824px;
  }
}
.specification__list {
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .specification__list {
    margin-top: 30px;
    margin-bottom: 80px;
  }
}
.specification__list ul,
.specification__list li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.specification__list ul {
  counter-reset: specification;
}
.specification__more {
  text-align: center;
}
.specification-item {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}
.specification-item:before {
  counter-increment: specification;
  content: counters(specification, ".");
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -7.5px;
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #ffc80a;
  font-size: 10px;
  font-weight: 700;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 2px 0;
}
@media (min-width: 768px) {
  .specification-item:before {
    margin-left: 0;
    top: 23px;
    left: 0;
  }
}
.specification-item:last-child {
  border-bottom: none;
}
.specification-item__header {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-bottom: 1px solid #f2f2f2;
}
@media (min-width: 768px) {
  .specification-item__header {
    padding: 17px 0 17px 86px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .specification-item__header {
    padding-left: 107px;
  }
}
.specification-item__title {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.4px;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .specification-item__title {
    margin: 16px 0 24px;
  }
}
.specification-item__option {
  width: 49px;
  height: 49px;
  border: solid 1px rgba(151,151,151,0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .specification-item__option {
    position: absolute;
    top: 50%;
    left: 29px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.specification-item__option .icon {
  margin-left: 1px;
}
.specification-item__vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .specification-item__vote {
    width: 100%;
    background-color: #f3f3f3;
    padding: 5px;
  }
}
@media (min-width: 768px) {
  .specification-item__vote {
    margin-left: auto;
  }
}
.specification-item__comment {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
}
.specification-item__comment .icon {
  margin-right: 5px;
}
.specification-item__count {
  margin-left: 20px;
}
.specification-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.specification-item__info {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
  max-width: 51%;
  min-height: 140px;
  padding: 5px 5px 5px 0;
  font-size: 14px;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.71;
  color: #000;
  border-right: 1px solid #f2f2f2;
}
@media (min-width: 768px) {
  .specification-item__info {
    padding: 5px 50px 5px 86px;
  }
}
@media (max-width: 1279px) {
  .specification-item__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1280px) {
  .specification-item__info {
    padding-left: 107px;
  }
}
.specification-item__filling {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  max-width: 49%;
  padding: 0 15px;
  position: relative;
}
.specification-item__filling .circle-icon {
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -17px;
}
@media (min-width: 768px) {
  .specification-item__filling .circle-icon {
    top: auto;
    bottom: -7px;
    left: 10px;
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  .specification-item__filling .circle-icon {
    left: 22px;
  }
}
@media (max-width: 767px) {
  .specification-item__filling_error {
    padding-top: 38px;
  }
}
@media (min-width: 768px) {
  .specification-item__filling {
    padding: 0 25px 0 50px;
  }
}
@media (min-width: 1280px) {
  .specification-item__filling {
    padding-left: 70px;
  }
}
.specification-item__filling-text {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #9b9b9b;
  margin: 13px 0;
}
@media (min-width: 1280px) {
  .specification-item__filling-text {
    margin: 6px 0;
  }
}
.specification-item__filling-graph {
  display: block;
  max-width: 268px;
  height: 18px;
  background-color: #ededed;
  border-radius: 40px;
}
.specification-item__filling-graph span {
  display: block;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff134), to(#ffc80a));
  background-image: -o-linear-gradient(left, #fff134, #ffc80a);
  background-image: linear-gradient(to right, #fff134, #ffc80a);
  border-radius: 40px;
}
.specification-item__filling-graph_error {
  border: solid 1px #ededed;
  background-color: transparent;
}
/* END SPECIFICATION */